.login{
  display: grid;
  padding-block: 4rem;
  justify-content: center;
  background: linear-gradient(112.1deg, rgb(78, 61, 207) 11.4%, rgb(15, 6, 67) 70.2%);

}

.login_box{
    justify-content: center;
    width: 35rem;
    background: linear-gradient(112.1deg, rgb(78, 61, 207) 11.4%, rgb(15, 6, 67) 70.2%);
    padding: 3rem;
    border-radius: 2rem;
}

.login_box h2{
    text-align: center;
    font-size: 1.5rem;
    color: white;
}